.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 2px;
}
.bar rect {
  fill: #5ea9dd;
  shape-rendering: crispEdges;
}
.bar rect:hover{
  fill: #808080

}
.axis path, .axis line {
  fill: none;
  stroke:black;
  shape-rendering: crispEdges;
}
.container{
  float:left;
}
