.d3-tip-histo {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 2px;
}

.bar rect {
  fill: #5ea9dd;
  shape-rendering: crispEdges;
}
.bar rect:hover{
  fill: #808080

}
.axis path, .axis line {
  fill: none;
  stroke:black;
  shape-rendering: crispEdges;
}

.container{
  float:left;
}

.line {
  stroke: Steelblue;
  fill:none;
  stroke-width: 3;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
}

.datapoint:hover{
 fill: steelblue;
}

.xlabel, .ylabel {
 font-size:20px;
}
