html {
  min-height: 100%;
}

body{
  font-family: 'Product Sans', Arial, sans-serif;

  /*background */
  /*pour les navigateurs qui ne supportent pas les gradient*/
  background: white;
  background: -webkit-linear-gradient(red, yellow); /* pour Safari 5.1 à 6.0 */
  background: -o-linear-gradient(red, yellow); /* pour Opera 11.1 à 12.0 */
  background: -moz-linear-gradient(red, yellow); /* pour Firefox 3.6 à 15 */
  background: linear-gradient(#7bb5dd, white);

  /*Pour prendre toute la fenêtre*/
  /*min-height: 100%;*/

  margin : 0;
  padding : 0;
}

/*header*/
header{
  text-align: center;
  width: 100%;
  background-image: url("texture.png");
  background-repeat: repeat;
  overflow: hidden;
  border-top : 1px solid #e7e7e7;
  border-left : 1px solid #e7e7e7;
  border-right : 1px solid #e7e7e7;
  margin: 0;
}
#opinion{
  padding : 0px 8px;
  float: right;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
header a{
  display: inline-block;
  float: left;
}
header a img{
  float: left;
  padding : 5px;
  margin : 6px 0;
}

/* Nav CSS */
nav{
  border-bottom : 1px solid #e7e7e7;
  border-left : 1px solid #e7e7e7;
  border-right : 1px solid #e7e7e7;
}
nav ul {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  list-style-type: none;
  margin: 0 0px;
  padding: 0;
  overflow: hidden;
  clear: both;
}

nav ul li{
  float: left;
}
#lastnav{
  float: right;
}

nav ul li a {
  color: #666;
  text-decoration: none;
  display: block;
  padding: 8px;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: #55acee;
  color : white;
}
nav ul li a:focus, .active{
  color: white;
  background-color: #2b7bb9;
}

/*form css*/
#recherche{
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  width: 30%;
  margin: 50px auto ;
  text-align: center;
}

input[type=text]{
  width: 100%;
  padding: 6px 20px;
  margin : 8px 0px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  box-sizing: border-box;
  outline: none;
}
input[type=text]:focus{
  border: 3px solid #2b7bb9;
}

input[type=submit]{
  width: 100%;
  background-color: #2b7bb9;
  color : white;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  margin : 8px 0px;
}
input[type=submit]:hover {
  background-color: #55acee;
}

/* onglets */
.tabcontent {
  background-color: white;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* à propos */
#about{
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 75%;
  margin: 50px auto ;
  text-align: left;
}

/* bas de page */
footer{
  width : 99%;
  padding : 5px 2px;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  position : relative;
}
